


body {

}

.company-logo {
	width: 300px;
	display: block;
}


.whitespacetop {
	width: 100%;
	padding: 10px 50px 50px 50px;
	color: grey !important;

}
.mainnav a:after {
	 content:"\02C3"; 
	 padding-left: 10px;
	 font-size: 22px;
	 font-weight: 900;
	 vertical-align: -25%;

}

.mainnav a:hover:after {
content:"\02C5"; 

	}

.topnavtest {
	padding-top: 0px;
	margin-top:0px;

}
.topnavtest a{
	padding-top: 0px;
	margin-top:0px;
	color:grey !important;
}

.topbar{
	width: 100%;
	padding: 5px;
	background-color: rgb(40,45,57);
}

.nav a {
	color: white;
	text-decoration: none;
	padding-bottom: 0px;
	border-bottom: 2px solid transparent;
}


.nav a:hover {
	color: white;

	border-bottom: 2px solid white;
}

.greybar{
	width: 100%; 
	height: 20px;
	background-color: lightgrey;
}


.wrap {
	width: 1280px;
	margin: 0 auto;
}


.blueback {
  background-image: linear-gradient(170deg, #79d5ff , #213fff);
  height: 500px;


}

.greenback {
	  background-image: linear-gradient(50deg, #09aec7 , #79f979);
  height: 500px;
	
}

.bluepurpleback {
	background-image: linear-gradient(50deg, rgb(4,252,243), rgb(112,47,166));
	height: 500px;
}

.transparent {
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	width: 100%;	
	position: relative;
}

.banner-logo {
	width: 240px;
	position: absolute;
	top: 80px;
	left: 75px;
}


.banner-title {
	color: white;
	position: absolute;
	left: 350px;
	top: 117px;
}

.banner-title-no-logo {
	color: white;
	position: absolute;
	left: 85px;
	font-size: 58px;
	top: 140px;
}

.key-features-banner {
	color: white;
	list-style-type: circle;
	font-size: 22px;
	text-transform: uppercase;
	position: absolute;
	left: 65px;
	top: 240px;

}

.banner-systems {
	width: 500px;
	position: absolute;
	right: 100px;
	top: 260px;
}

.featured-products{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.featured-products h2 {
	margin-bottom: 50px;
}
.featurebox {
	border: 2px solid rgba(0,0,0,0.1);
	height: 350px;
	width: 100%;
	border-radius: 15px;
}

.whatwespec {
	background-color: rgb(25,178,225);
	width: 100%;
	height: auto;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}

.whatwespec h3 {
	text-transform: uppercase;
	color: white;
}

.whatwespec .row {
	margin-top: 50px;
}

.specbox {
	background-color: rgba(255,255,255,0.2);
	width: 100%;
}

.content-blk {
color: white;
min-height: 320px;
padding-top: 50px;
}

.content-blk:hover {
background-color: rgba(0,0,0,0.6);
-webkit-box-shadow: 0 10px 12px -5px black;
-moz-box-shadow: 0 10px 12px -5px black;
box-shadow: 0 10px 12px -5px black;
}

.icon img {
width: 15%;
padding-bottom: 20px;
}

.content-blk h3 {
padding: 0px 12px;
}

.padded {
padding: 15px;
}

.review .row {
	justify-content: center;
}

.review {
	padding: 80px 40px;

}

.partnersimg {
	text-align: center;
}

.review h4 {
font-size: 30px;

}

@media screen and (max-width: 1280px){
	.wrap {
		width: 100%;

	}
}


@media screen and (max-width: 768px) {
	.blueback {
  height: 550px;
}
.greenback {
  height: 550px;
}

.bluepurpleback{
	height: 550px;
}
.banner-systems {
width: 400px;
right: 50px;
	top: 380px;
}

.banner-title-no-logo {
	top: 100px;
}


.banner-logo {
	width: 140px;

}


.banner-title {
	color: white;
top: 100;
left: 240;

	font-size: 24px;
}

.key-features-banner {
	color: white;
	list-style-type: circle;
	font-size: 18px;
	text-transform: uppercase;
	position: absolute;
	left: 65px;
	top: 200px;

}

}

.whysupermicro {
	padding: 25px;
}

.img-col {
	margin-top: 150px;
	text-align: center;
}
 .img-col button {
 	margin-top: 50px;
 	align-content: center;
 	display: inline-block;
 }

.supermicrowhy {
	margin-top: 95px;
	color: white;
	padding: 50px;
}

.img-col .supermicrologo {
	width: 200px;
}


.paralax {
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("https://serverfactory.co.uk/pub/media/wysiwyg/media/server.jpg");
    min-height: 500px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


